<a href="https://colab.research.google.com/github/DianaKahar/Data_Management2/blob/main/P137263_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ASSIGNMENT 2**

#**STQD6324 DATA MANAGEMENT**

**INTRODUCTION**

Aviation is one of the leading forms of modern transportation which enables us to connect cities, countries and continents. Air travel is one of the most popular and fastest modes of transportation for long distance traveling. Usually traveling from Kuala Lumpur to Singapore by bus would take 5 hours to arrive while it takes only 1 hour and 10 minutes by plane. However, the reliability of air transportation is usually affected by delays and cancellations which can cause disruption of flight schedules, and cause dissatisfaction for customers and organizations. Analyzing the patterns helps us understand the factors which lead to the disruptions that can help airlines and passengers make better decisions.

In this project, we explore a comprehensive dataset encompassing airline performance data from 1995 to 2007, sourced from Kaggle. The dataset provides detailed information about flight schedules, delays, cancellations, and various contributing factors. By analyzing this data, we aim to answer several pertinent questions that can help in understanding and potentially mitigating flight delays and cancellations:

Optimal Times for Minimizing Flight Delays: We examine the data to determine the best times of day, days of the week, and times of the year to fly to minimize the likelihood of delays.

Primary Factors Contributing to Flight Delays: By analyzing different types of delays, such as carrier delays, weather delays, and others, we identify the primary factors that contribute to flight delays.

Factors Predominantly Leading to Flight Cancellations: We investigate the reasons for flight cancellations, identifying which factors most commonly lead to flights being canceled.

Flights with the Most Frequent and Significant Delays and Cancellations: We identify specific flights that experience the most frequent and significant delays and cancellations, providing insights into potential problem areas.

To answer these questions, we utilize Apache Hive for querying the large dataset efficiently and Python for visualizing the results. Hive allows us to perform complex queries on the dataset stored in Hadoop, while Python, with libraries like Pandas, Matplotlib, and Seaborn, helps in visualizing the findings to uncover meaningful patterns and insights.

By combining data-driven analysis with visual representation, this project aims to provide a clear understanding of flight delays and cancellations, offering valuable insights for airlines, airports, and passengers to improve their air travel experience.

**DATASET INFORMATION**

The dataset was obtained from Kaggle.com, titled "Data Expo 2009: Airline On Time Data". The dataset contains 26 csv files and 658 columns which provides specific information on flight data from 1989 to 2008. However, for this assignment, only year 2005 was chosen for analysis.

The variables within this ‘flight2005’ dataset:

1. Year           
2. Month              
3. DayofMonth         
4. DayOfWeek           
5. DepTime            
6. CRSDepTime         
7. ArrTime            
8. CRSArrTime        
9. UniqueCarrier      
10. FlightNum          
11. TailNum            
12. ActualElapsedTime  
13. CRSElapsedTime    
14. AirTime      
15. ArrDelay           
16. DepDelay          
17. Origin             
18. Dest               
19. Distance           
20. TaxiIn             
21. TaxiOut             
22. Cancelled           
23. CancellationCode   
24. Diverted           
25. CarrierDelay        
26. WeatherDelay       
27. NASDelay            
28. SecurityDelay       
29. LateAircraftDelay

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**CSV files imported from HIVE**

In [5]:
flight2005 = pd.read_csv('/content/drive/MyDrive/2005/flight2005.csv')
flight2005

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,4,23,0,NaN,0,0,0,0,0,0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,6,15,0,NaN,0,0,0,0,0,0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,9,18,0,NaN,0,0,0,0,0,0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,11,10,0,NaN,0,0,0,0,0,0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140591,2005,12,22,4,1652.0,1655,1815.0,1837,DL,901,...,7,15,0,NaN,0,0,0,0,0,0
7140592,2005,12,22,4,1825.0,1825,1858.0,1848,DL,902,...,7,32,0,NaN,0,0,0,0,0,0
7140593,2005,12,22,4,1507.0,1511,1641.0,1649,DL,903,...,4,29,0,NaN,0,0,0,0,0,0
7140594,2005,12,22,4,924.0,925,1056.0,1111,DL,904,...,4,19,0,NaN,0,0,0,0,0,0
7140595,2005,12,22,4,1345.0,1344,1621.0,1614,DL,905,...,6,27,0,NaN,0,0,0,0,0,0